<section class="main-container">
  <div class="headline">
    <%= link_to categories_path do %>
      <div class="arrow">&larr;</div>
    <% end %>
    <h2>TRANSACTIONS</h2>
    <%= link_to new_category_cash_flow_path(@category) do %>
      <div class="arrow">&rarr;</div>
    <% end %>
  </div>

  <div class="transaction-container">
    <div class="category-wrapper">
      <div class="category-icon">
        <img src="<%= @category.icon %>" class="icon">
      </div>

      <div class="category-details">
        <%= link_to @category.name, class: "category-name" %>
      </div>
    </div>

    <% @cash_flow.each do |cash_flow| %>
      <div class="transaction-details">
        <p class="name-amount"><%= cash_flow.name %>
          <span>$<%= cash_flow.amount %></span>
        </p>
        <p class="date-time"><%= cash_flow.created_at.strftime('%Y-%b-%d') %>
        at <%= cash_flow.created_at.strftime('%H:%M:%S') %></p>
      </div>
    <% end %>

    <div class="total-transaction">TOTAL TRANSACTION
      <span>$<%= @total_amount %></span>
    </div>
    
  </div>

  <div class="add-category">
    <%= link_to "ADD NEW TRANSACTION", new_category_cash_flow_path(@category), class: "add-btn" %>
  </div>
</section>